
body {
  background-color: #282c34;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
}

.app {
  color: white;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:  
    ". table   ." 
    ". answers .";
}

.table {
  grid-area: table;
}

.answers {
  grid-area: answers;
}

.App-link {
  color: #61dafb;
}

