
body {
  background-color: whitesmoke;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
}

.app {
  color: black;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:  
    ". table   ." 
    ". answers ."
    ". score .";
}

.table {
  grid-area: table;
}

.answers {
  grid-area: answers;
}

.score {
  grid-area: score;
  display: grid;
  grid-template-columns: 2fr 11fr 11fr;
  grid-template-areas: 
    "score-value . .";
}


.score-value {
  font-size: 4vh;
  grid-area: score-value;
  margin: 1em;
  padding: 1em;
  border-radius: .4em;
  border-color: darkcyan;
  border-style: solid;
  border-width: 0.2em;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

