.solution-panel {
  display: grid;
  grid-template-columns: 3fr repeat(6, 3fr) 3fr;
  grid-template-areas: 
    ". candidates candidates candidates candidates candidates candidates ."
    ". .          .          check      conclusion .          .          .";
}


.candidates {
  font-size: 3vh;
  grid-area: candidates;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.candidate-answer {
  margin: 1em;
  padding: 1em;
  border-radius: .4em;
  background-color: darkcyan;
  border-color: darkcyan;
  border-style: solid;
  border-width: 0.2em;
  cursor: pointer;
}

.candidate-answer:hover {
  border-color: bisque;
}

.candidate-answer:active {
  background-color: rgb(3, 82, 82)
}

.candidate-answer.selected {
  border-color: darkblue;
  background-color: darkblue;
}

.check {
  align-self: center;
  font-size: 3vh;
  margin: 1em;
  padding: 1em;
  border-radius: .4em;
  cursor: pointer;
  grid-area: check;
  border-color: darkcyan;
  border-style: solid;
  border-width: 0.2em;
  background-color: darkcyan;
}

.check:hover {
  border-color: bisque;
}

.check:active {
  background-color: rgb(3, 82, 82)
}

.conclusion {
  font-size: 4vh;
  margin: 1em;
  padding: 1em;
  border-radius: .4em;
  border-width: 0.2em;
  grid-area: conclusion;
}